{snippet}
{$number}
<a href="{link click!,1}" class="ajax">Click!</a>

<table>
	<tr>
		<th>Input</th>
		<th>Akce</th>
	</tr>
	<tr>
		{form testForm class=>"ajax"}
			<td>{input number}</td>
			<td><input type="submit" name="test" value="add"/></td>
		{/form} 
	</tr>
</table>

{/snippet}